:root {
  --color-B100: #ebf5ff;
  --color-B200: #c1d9f5;
  /* ... all other color variables ... */
  
  /* We'll use the most important ones for our product page */
  --color-O400: #f27a1a;
  --color-N100: #fff;
  --color-N200: #f5f5f5;
  --color-N300: #e6e6e6;
  --color-N600: #999;
  --color-N700: #666;
  --color-N800: #333;
  --color-G400: #0bc15c;
  --color-R500: #b00;
} 