@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #73859C;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-ghost{
  border-color: #e88213;
  background-color: #e88213;
}
.btn-ghost :hover{
  border-color: #e88213;
  background-color: transparent;
}