@tailwind base; /* Import Tailwind's base styles */
@tailwind components; /* Import Tailwind's component styles */
@tailwind utilities; /* Import Tailwind's utility styles */

:root {
  --background: #ffffff; /* Define the background color variable */
  --foreground: #171717; /* Define the foreground color variable */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #999A9E; /* Define the background color variable for dark mode */
    --foreground: #ededed; /* Define the foreground color variable for dark mode */
  }
}

body {
  color: #000000; /* Change font color to black */
  background: var(--background); /* Use the background color variable */
  font-family: Arial, Helvetica, sans-serif; /* Set the font family */
}

.btn-ghost {
  border-color: #e88213; /* Set the border color */
  background-color: #e88213; /* Set the background color */
  color: #ffffff; /* Set the text color */
}

.btn-ghost:hover {
  border-color: #e88213; /* Set the border color on hover */
  background-color: transparent; /* Set the background color to transparent on hover */
}